env:
  - DOCKER_SPARK_NLP_SCALA="${DOCKER_USERNAME}/spark-nlp-scala-${TRAVIS_BUILD_ID}" JAVA_OPTS="-XX:+UseG1GC"

sudo: required

services:
  - docker

cache:
  directories:
    - $HOME/.spark_nlp.dep.cache

jobs:
  include:
    - stage: Build 2.4
      install: skip
      script: 
        - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"
        - docker build -t "$DOCKER_SPARK_NLP_SCALA" -f .ci/Dockerfile .
        - docker push "$DOCKER_SPARK_NLP_SCALA"
    - stage: Build 2.3
      install: skip
      script:
        - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"
        - docker build -t "$DOCKER_SPARK_NLP_SCALA" -f .ci/DockerfileSpark23 .
        - docker push "$DOCKER_SPARK_NLP_SCALA_SPARK23"
    - stage: Test 2.4
      install: skip
      language: scala
      script: docker run "$DOCKER_SPARK_NLP_SCALA" sbt -mem 8192 test
    - language: python
      python: "3.6"
      script:
       - docker build --build-arg from="$DOCKER_SPARK_NLP_SCALA" -t spark-nlp-python-3 -f .ci/DockerfilePy3 .
       - docker run spark-nlp-python-3 python3 run-tests.py
    - stage: Test 2.3
      install: skip
      language: scala
      script: docker run "$DOCKER_SPARK_NLP_SCALA_SPARK23" sbt -mem 8192 -Dis_spark23=true test