.filter-form {
  display: flex;
  align-items: center;
  margin-bottom: -20px;
}

.filter-form__select {
  margin: 0 10px;
}

.filter-form__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  display: inline-block;

  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.filter-form__group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.filter-form__button.button {
  min-width: 104px !important;

  @media (max-width: 768px) {
    min-width: 122px;
  }
}

.filter-form__select--task {
  width: 208px;
}

.filter-form__select--language {
  width: 140px;
}

.filter-form__select--edition {
  width: 180px;
}
