.model-item {
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 0px 35px rgba(0, 152, 218, 0.15);
  padding: 20px;
  margin-bottom: 30px;
  display: block;
}

.model-item__header {
  border-bottom: 1px solid #e8f8ff;
  padding: 0 20px 12px;
}

.model-item__title {
  height: 66px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  box-sizing: content-box;
  overflow: hidden;
  display: block;
}

.model-item__content {
  padding: 20px;
}

.model-item__tag {
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 16px;

  & + & {
    margin-top: 15px;
  }
}

.model-item__tag-icon {
  color: #0098da;
  margin-right: 15px;
}

.model-item__tag-name + .model-item__tag-value {
  margin-left: 5px;
}

.model-item__tag-value {
  color: #0098da;
}
