.model-items.grid--container {
  margin-top: 50px;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    margin-top: 70px;
    margin-bottom: 40px;
  }
}

.model-items__no-results {
  text-align: center;
  flex-grow: 1;
  margin-bottom: 30px;
}
