.root {
  background: #ffffff;
  border: 1px solid rgba(231, 234, 236, 0.4);
  box-sizing: border-box;
  box-shadow: 0px 0px 35px rgba(0, 152, 218, 0.05);
  border-radius: 2px;
  padding: 28px 22px;
}
