name: build

on:
  push:
    paths-ignore:
      - 'docs/**'
      - 'conda/**'
      - 'scripts/**'
      - 'example/**'
      - '**.md'
    branches:
      - 'master'
      - '*release*'
      - 'release/**'
      - 'main'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'conda/**'
      - 'scripts/**'
      - 'example/**'
      - '**.md'
    branches:
      - 'master'
      - 'main'

jobs:
  spark23:
    if: "! contains(toJSON(github.event.commits.*.message), '[skip test]')"
    runs-on: macos-latest
    name: Build and Test on Apache Spark 2.3.x

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Install Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7.7
          architecture: x64
      - name: Install Python packages (Python 3.7)
        run: |
          python -m pip install --upgrade pip
          pip install pyspark==2.3.4 numpy
      - name: Build Spark NLP on Apache Spark 2.3.x
        run: |
          brew install sbt
          sbt -Dis_spark23=true clean
          sbt -Dis_spark23=true compile
          sbt -mem 4096 -Dis_spark23=true assemblyAndCopy
      - name: Test Spark NLP in Scala - Apache Spark 2.3.x
        run: |
          sbt -mem 4096 -Dis_spark23=true test
      - name: Test Spark NLP in Python - Apache Spark 2.3.x
        run: |
          cd python
          python3.7 -m run-tests

  spark24:
    if: "! contains(toJSON(github.event.commits.*.message), '[skip test]')"
    runs-on: macos-latest
    name: Build and Test on Apache Spark 2.4.x

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Install Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7.7
          architecture: x64
      - name: Install Python packages (Python 3.7)
        run: |
          python -m pip install --upgrade pip
          pip install pyspark==2.4.4 numpy
      - name: Build Spark NLP on Apache Spark 2.4.x
        run: |
          brew install sbt
          sbt clean
          sbt compile
          sbt -mem 4096 -Dis_spark24=true assemblyAndCopy
      - name: Test Spark NLP in Scala - Apache Spark 2.4.x
        run: |
          sbt -mem 4096 -Dis_spark24=true test
      - name: Test Spark NLP in Python - Apache Spark 2.4.x
        run: |
          cd python
          python3.7 -m run-tests

  spark30:
    if: "! contains(toJSON(github.event.commits.*.message), '[skip test]')"
    runs-on: macos-latest
    name: Build and Test on Apache Spark 3.0.x

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Install Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7.7
          architecture: x64
      - name: Install Python packages (Python 3.7)
        run: |
          python -m pip install --upgrade pip
          pip install pyspark==3.0.2 numpy
      - name: Build Spark NLP on Apache Spark 3.0.2
        run: |
          brew install sbt
          sbt clean
          sbt compile
          sbt -mem 4096 assemblyAndCopy
      - name: Test Spark NLP in Scala - Apache Spark 3.0.x
        run: |
          sbt -mem 4096 test
      - name: Test Spark NLP in Python - Apache Spark 3.0.x
        run: |
          cd python
          python3.7 -m run-tests

  spark32:
    if: "! contains(toJSON(github.event.commits.*.message), '[skip test]')"
    runs-on: macos-latest
    name: Build and Test on Apache Spark 3.2.x

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Install Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7.7
          architecture: x64
      - name: Install Python packages (Python 3.7)
        run: |
          python -m pip install --upgrade pip
          pip install pyspark==3.2.0 numpy
      - name: Build Spark NLP on Apache Spark 3.2.0
        run: |
          brew install sbt
          sbt clean
          sbt compile
          sbt -mem 4096 -Dis_spark32=true assemblyAndCopy
      - name: Test Spark NLP in Scala - Apache Spark 3.2.x
        run: |
          sbt -mem 4096 -Dis_spark32=true coverage test
      - name: Upload coverage data to Coveralls
        run: sbt coverageReport coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: Apache Spark 3.2.x - Scala 2.12
      - name: Test Spark NLP in Python - Apache Spark 3.2.x
        run: |
          cd python
          python3.7 -m run-tests
