:root {
    --pst-color-primary: 62, 64, 149; /* Headers h1, h2 */
    --pst-color-active-navigation: 62, 64, 149;
    /* --pst-color-success: 40, 167, 69;
    --pst-color-info: 0, 123, 255;
    --pst-color-warning: 255, 193, 7;
    --pst-color-danger: 220, 53, 69;
    --pst-color-link: 0, 152, 218; */
}